*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.navbar-brand img{
    width: 100%;
}

.nav-link{
    font-size: 25px;
    padding: 30px 25px !important;
}

.carousel-caption {
    position: absolute;
    right: 47% !important;
    bottom: 17.25rem !important;
    left: 11% !important;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left !important;
}
.carousel-caption h5{
    font-size: 60px;
}

.carousel-caption p{
    font-size: 23px;
}